<a href="https://colab.research.google.com/github/mohmaed7777/Machine-Learning-with-scikit-learn/blob/master/SVM_sklearn104.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Support Vector Machine:**
n this notebook, you will use SVM (Support Vector Machines) to build and train a model using human cell records, and classify cells to whether the samples are benign or malignant.

SVM works by mapping data to a high-dimensional feature space so that data points can be categorized, even when the data are not otherwise linearly separable. A separator between the categories is found, then the data is transformed in such a way that the separator could be drawn as a hyperplane. Following this, characteristics of new data can be used to predict the group to which a new record should belong.

In [0]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import sklearn 
import pylab as pl 
import scipy.optimize as opt 
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split
%matplotlib inline

# **Load Cancer Dataset:**

In [2]:
!wget -O cell_samples.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/cell_samples.csv

--2020-06-15 10:05:53--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/cell_samples.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 20675 (20K) [text/csv]
Saving to: ‘cell_samples.csv’

cell_samples.csv    100%[===================>]  20.19K  --.-KB/s    in 0.1s

2020-06-15 10:05:54 (138 KB/s) - ‘cell_samples.csv’ saved [20675/20675]

# **Read the dataset from CSV file:**

In [5]:
cell_df = pd.read_csv('cell_samples.csv')
cell_df.head()

        ID  Clump  UnifSize  UnifShape  ...  BlandChrom  NormNucl Mit  Class
0  1000025      5         1          1  ...           3         1   1      2
1  1002945      5         4          4  ...           3         2   1      2
2  1015425      3         1          1  ...           3         1   1      2
3  1016277      6         8          8  ...           3         7   1      2
4  1017023      4         1          1  ...           3         1   1      2

[5 rows x 11 columns]